<div class="banner">
  <h1 class="ui header">Available Products</h1>
</div>
<div class="ui link cards">
  <div
    *ngFor="let product of products"
    class="card"
    (click)="onClick(product.id)"
  >
    <div class="image">
      <img [src]="product.imageThumb" />
    </div>
    <div class="content">
      <div class="header">{{ product.name }}</div>
      <div class="meta">
        <a>{{ categories[product.category] }}</a>
      </div>
      <div class="description">
        From complex daily vitamins to natural energy boosters and digestive
        aides
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated">
        <i class="user icon"></i>
        75 Likes
      </span>
    </div>
  </div>
</div>
