<div class="banner">
  <h1 class="ui header">Available Products</h1>
</div>
<div class="ui link cards">
  <div
    *ngFor="let product of products"
    class="card"
    (click)="onClick(product.id)"
  >
    <div class="image">
      <img [src]="product.imageThumb" />
    </div>
    <div class="content">
      <div class="header">{{ product.name }}</div>
      <br>
      <div class="meta">
        <a class="ui grey label">{{ categories[product.category] }}</a>
      </div>
      <div class="description">
        {{ product.summary | summarize }}
      </div>
      <br>
      <!-- <div class="meta">
        <a class="ui tag label">{{ product.price | currency: 'UGX ' }}</a>
      </div> -->
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="hand point right outline icon"></i>
        Read More
      </span>
      <span class="right floated">
        <i class="user icon"></i>
        {{ product.views }} Active
      </span>
    </div>
  </div>
</div>
