<div class="ui top fixed menu">
  <div class="item">
    <!-- <img src="../../../favicon.ico" />  -->
    Forever Living Products
  </div>
  <div class="right menu">
    <a class="item">About Forever Products</a>
    <a class="item">Testimonials</a>
    <a class="item">Sign-in</a>
  </div>
</div>

<div class="margin">
  <div class="ui pointing menu">
    <a class="active item"> Catalogue </a>
    <a class="item"> Products </a>
    <a class="item"> Categories </a>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search..." />
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
