#footer {
  margin-top: 50px;
  text-align: center;
  padding: 40px 0;
}

.item {
  display: flex;
  flex-flow: row;
}

p {
  text-align: center;
  color: #777;

  a {
    color: rgba(255, 0, 255, 0.4);
  }
}

h3.header {
  padding: 30px 0;
}

i.icon {
  color: #fff;
  font-size: 40px;
}

.ui.horizontal.list > .item > i.icon {
  color: #29c7ac;
}

.center {
  text-align: center;
}
