<div id="footer" class="ui container">
  <h3 class="ui header center">Contact Forever Agent For Deliveries</h3>

  <div class="ui relaxed horizontal list">
    <a href="mailto:kiconcoabigail@gmail.com" class="item">
      <i class="envelope square icon email"></i>
      <div class="content">
        <!-- <a class="header">kiconcoabigail@gmail.com</a> -->
      </div>
    </a>

    <a href="https://wa.me/+256759079735" class="item link">
      <i class="whatsapp square icon watsapp"></i>
      <div class="content">
        <!-- <a class="header">+256759079735</a> -->
      </div>
    </a>

    <a class="item" href="tel:+256774072510">
      <i class="phone square icon phone"></i>
      <div class="content">
        <!-- <a class="header">+256774072510</a> -->
      </div>
    </a>
  </div>
</div>
<div class="center">256774072510</div>
<div class="center">kiconcoabigail@gmail.com</div>
<hr />
<p>
  Developed By
  <a href="http://ngisiro.vercel.app/" target="_blank">Paul Ngisiro</a>
</p>
